

    <h1 style="color:blue;">CENTRO DE MENSAJES </h1>
    <h3> Compression:{{compresion}}</h3>
    <br>

<div class="row g-3 align-items-center">
<form action="javascript:enviarMensaje()" >
            <div class="mb-3">
                <label for="id" class="form-label">Mail</label>
                <input type="text" class="form-control" id="id" aria-describedby="userComment">
            </div>
            <div class="mb-3">
                <label for="nombre" class="form-label">Nombre:</label>
                <input type="text"  class="form-control" id="nombre" ></input>
            </div>  
            <div class="mb-3">
                <label for="apellido" class="form-label">Apellido</label>
                <input type="text"  class="form-control" id="apellido" ></input>
            </div>  
            <div class="mb-3">
                <label for="edad" class="form-label">edad</label>
                <input type="text"  class="form-control" id="edad" ></input>
            </div> 
          
            <div class="mb-3">
                <label for="alias" class="form-label">alias:</label>
                <input type="text"  class="form-control" id="alias" ></input>
            </div> 
             <div class="mb-3">
                <label for="link" class="form-label">link:</label>
                <input type="text"  class="form-control" id="link" ></input>
            </div> 
            
 
            <button class="btn btn-success mt-3 mb-5" type="submit">Enviar</button>
        </form>
</div>